#boggle-board {

}

.board-container {
  width: 434px;
}

.board-row {
  height: 100px;
}

.dice {
  border: 1px solid #adadad;
  display: flex;
  float: left;
  height: 100px;
  width: 100px;
  border-radius: 8px;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: image-url('Melamine-wood-001.png');
  opacity: 0.8;
  font-size: 25px;
  font-weight: bold;

  &:hover {
    color: #333;
    opacity: 1.0;
  }

  &.selected {
    background-image: image-url('Melamine-wood-004.png');
  }

  &.adjacent {
    background-image: image-url('Melamine-wood-005.png');
  }
}
