.container .jumbotron {
  border-radius: 0;
}

.home-jumbotron {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: image-url('jumbo-bg.jpg');
  background-size: cover;
  color: white;
  overflow: hidden;
}

.jumbotron .bg-overlay {
  height: 550px;
  background: rgba(0,0,0,0.5);
}

.jumbotron .container {
  position: relative;
  top: 158px;
  text-align: center;
}

.home-btn {
  margin-top: 3px;
  color: white;
  background-color: #1da1f2;
  text-transform: uppercase;
  border-color: gray;

  &:hover, &:active, &:focus {
    color: white;
    background-color: #1889ce;
  }
}
